# 依赖与构建产物
node_modules/
dist/

# Capacitor 生成的 Android 工程里的产物/缓存
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/local.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/capacitor.build.gradle

# 系统文件
.DS_Store
Thumbs.db
